body {
	padding: 0;
	margin:0;
}

/* navigation starts.. */

.navbar {
	padding:1px 0px 0px 5px;
}

.navbar ul{
	text-align:center;
	width: auto;
	margin-top: -75px;
	padding: 10px;
}
 
 .navbar ul li a{
 	color: white;
	text-decoration: none;
	padding: 5px;
	font-size: 20px;
}

.navbar ul li{
		list-style: none;
		display: inline;
}

#nav-extra {
	background: #EB5C25;
	padding: 5px;
}

/* navigation ends */

/* home-page starts*/

.home {
	background: url("../images/doves2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	margin-top: -62px;
	text-align: center;
}

.homecontent {
	padding: 100px;
}

.homecontent h2 {
	font-size: 70px;
}

.connect {
	font-size: 30px;
}

#registertoday {
	background: #EB5C25;
	font-size: 15px;
	height: 50px;
	width: 200px;
}

/* home page ends */

/* edited content */
.edition-cont {
	background: grey;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	padding: 10px;
}

#date{
	background: #EB5C25;
	font-size: 15px;
}

.home-edition {
	width:50px;
	height:50px;
	background-color:#EB5C25;
	padding: 3px;
	margin-left: 20%; 
}

#next-icon {
	float: right;
}

#prev-icon {
	float: left;
}

.container1 {
/**/
}
.container2 {
	background: url("../images/hands1.jpg");
	background-size: cover;
	height: 250px;
	position: relative;
	left: -300px;
}

#jesus {
	color: #EB5C25;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	margin: 5% 0% 5% 10%;
}











